body {
    font-family: Roboto, Tahoma, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
}

#header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-around;
    padding: 25px;
    align-items: baseline;
}

#title {
    color: #f9faf8;
    font-size: 24px;
    font-weight: 900;
}

#herosub, #links {
    color: #E5E7EB;
    font-size: 18px;
}

#links {
    display: flex;
    gap: 15px;
}

#hero {
    background-color: #1F2937;
    max-height: 250px;
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 100px;
}

#hero img {
    max-width: 500px;
}

#herotext {
    max-width: 500px;
}

#herotitle {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 1000;
}

#one {
    background-color: #3882f6;
    color: #F9FAF8;
    font-size: 15px;
    padding: 8px 36px;
    border-style: none;
    border-radius: 8px;
}

#options {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}

h2 {
    font-size: 36px;
    color: #1F2937;
    font-weight: 1000;
}

#gallery {
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.item img{
    display: flex;
    flex: 0 0 auto;
    width: 150px;
    height: 150px;
    border: 3px solid #3882f6;
    border-radius: 8px;
}

.item {
    width: 150px;
    text-align: center;
    color: #1F2937;
}

#quotewrapper {
    background-color: #E5E7EB;
    padding: 100px 200px;
    display: flex;
    flex-direction: column;
}

#quote {
    font-size: 36px;
    font-weight: light;
    font-style: italic;
    color: #1F2937;
    margin-bottom: 0;
}

#credit {
    font-size: 18px;
    font-weight: 900;
    color: #1F2937;
    margin-top: 0;
    align-self: flex-end;
}

#actionwrapper {
    padding: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#action {
    background-color: #3882f6;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 300px;
    padding: 25px 100px;
}

#actiontext {
    display: flex;
    flex-direction: column;
    color: #E5E7EB;
    font-size: 15px;
}

#call {
    color: #E5E7EB;
    font-size: 18px;
    font-weight: 900;
}

#two {
    background-color: #3882f6;
    color: #E5E7EB;
    font-size: 15px;
    font-weight: 900;
    border-radius: 8px;
    border: 1px #E5E7EB solid;
    padding: 5px 25px;
}

#footer {
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    justify-content: center;
    padding: 25px;
}